body {
    align: center;
    font-size: 18px; /*16*/
    font-family: Verdana;
    color: #222;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #d9d9d9;
}

a {
    color:000080;/* #FF0000;*/
    text-decoration: none;
}

a:hover {
    border-bottom: 1px solid #FF0000;
}

p {
    padding-top: 1em;
    line-height: 1.3em;
}

#main {
    margin-top: 3em;
    margin-bottom: 3em;
    margin-left: auto;
    margin-right: auto;
    width: 46em;
    border: solid 4px #0000FF;/* #FF0000; */
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 2em;
    padding-bottom: 3em;
    background-color: white;
    text-align: justify;
}

#contact {
    padding-left: 2em;
    margin-bottom: 3em;
}

#email {
    font-family: monospace;
    font-size: 18px;
}

#page_title h1 {
    font-size: 2em;
    margin-bottom: 0px;
    color: 000000;/* #FF0000;*/
    margin-top: 0.5em;
}

#page_title h2 {
    margin-top: 0px;
    color: #999;
    border: none;
}

#photo {
    float: right;
    background-color: #fff;
    width: 350px;
    height: 300px;
-webkit-transform: rotate(90deg); 

}



.title {
    font-weight: bold;
}

.in {
    font-style: italic;
}

.course {
    margin-bottom: 0.5em;
}

.bio {
    margin-bottom: 0.5em;
}


h2 {
    margin-top: 2em;
    padding-top: 0px;
    color: 000000;/*000080;*/ /* #FF0000; */
    border-bottom: solid 1px #0000FF;/* #B80000; */
}

p {
    text-align: justify;
}

.bibtex {
    background-color: #eee;
    font-family: monospace;
    margin: 1em;
    padding: 1em;
    display: none;
}
